.is-full-width {
    width: 100%;
}

.has-width-25 {
    width: 25%;
}

.has-width-75 {
    width: 75%;
}

.has-margin-right {
    margin-right: 2rem;
}

.has-margin-top {
    margin-top: 2rem;
}

.button {
    height: auto;
}

img {
    width: 15%;
}

#dollars-img img {
    width: 25%;
}

.coin-area {
    height: 150px;
}